body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.corsivo {
  font-style: oblique;
  font-size: 60px;
}

#speciale {
  color:brown;
}

.intestazione {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
}